

.dashboard-desktop{
    width: 100vw;
    height: 100%;
    display: flex;


    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: black;
        color: #fff;
        min-height: 100vh;


        .top-sidebar{
            height: 5rem;
            width: 100%;
            border-bottom: 1px solid peru;
        }
        .main-sidebar{
            position: relative;
            width: 100%;
            height: 100%;
            border: 1px solid green;

            .toggle-btn{
                position: absolute;
                top: 6rem;
                right: 0;
                transform: translateX(50%);
                background: $white;
                height: 1.5rem;
                width: 1.5rem;
                border-radius: 100%;
                cursor: pointer;
                display: grid;
                place-items: center;
            }
            .toggle-btn.collapsed{
                .random-icon{
                    transform: rotate(180deg)
                }
            }
    
            .menu-item{
                display: flex;
                align-items: center;
                margin: 10px 0;
                cursor: pointer;
                border-top: 1px solid white;
    
    
                .menu-item-name{
                    margin-left: 10px;
                }
            }
        }

    }

    .dashboard-main{
        border: 1px solid orange;
        width: 100%;
        display: grid;
        place-items: center;
        color: white;
    }
}