

.dashboard-desktop{
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .open-button{
        position: absolute;
        cursor: pointer;
        top: 2rem; left: 2rem;
        height: 3.5rem; width: 3.5rem;
        border-radius: 0.5rem;
        border: 1px solid $white-50;

        display: grid;
        place-items: center;
    }

    .open-button:hover{
        border: 1px solid $white-80;
    }


    .sidebar-container{
        width: 25%;
        height: 100%;
        align-self: flex-start;
    }
    .desktop-sidebar{
        width: 100%;
        height: 100%;
        padding: 2rem;
        background: #171717;

        .close-button{
            cursor: pointer;
            height: 3.5rem; width: 3.5rem;
            border-radius: 0.5rem;
            border: 1px solid $white-50;
    
            display: grid;
            place-items: center;
        }

        .sidebar-tabs{
            .chart-tabs{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.5rem;

                .tab{
                    height: 2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    border-radius: 1rem;
                    border: 0px solid $white;

                    p{
                        text-transform: capitalize;
                    }
                }

                .tab:hover{
                    background: $white;
                    color: $black;
                }
            }
        }
    }

    .main{

        width: 100%;
        height: 100%;
        background: black;
        border: 1px solid white;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 1.5rem;
    
        .main-big{
            width: 75%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border: 0px solid peru;

            .main-top{
                width: 100%;
                display: flex;
                gap: 1.5rem;
                .cell{
                    width: 33.3%;
                    background: $dark;
                    border-radius: 1rem;
                }
                .top1, .top2, .top3{
                    height: 10rem;
                }
            }
            .cell{
                width: 100%;
                background: $dark;
                border-radius: 1rem;
            }
            .box-scores{
                margin-top: 1.5rem;
                height: 24rem;
            }
            .box-logs{
                margin-top: 1.5rem;
                height: 30rem;
            }
        }
        .main-right{
            width: 25%;
            height: 100vh;
            align-self: flex-start;
            border: 0px solid blue;

            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .cell{
                width: 100%;
                background: $dark;
                border-radius: 1rem;
            }
            .box-rainbow{
                height: 38.2%;   
            }
            .box-circles{
                height: 61.4%;
            }
        }
    }
}