





.forms-desktop{
    background: #121212;
    .section-container{
        section{
            height: 100%;
            padding: 10rem 6rem;
        }
    }
    .submit-btn{
        background: white;
        color: black;
        width: 200px;
        height: 50px;
    }
}