
@media (min-width: 1224px) {
    .goalsettings{
        .section{
            padding: 7.5% 12.5% 7.5% 12.5%;

            .section-top{
                gap: 0.75rem;
                h2{
                    font-size: 2rem;
                }
            }
        }
        .save-container{
            padding: 1.5rem 12.5% 5% 12.5%;
        }
    }
}