

.home-desktop {
    position: relative;
    height: 100%;

  
    .topbar {
      position: fixed;
      z-index: 20;
      top: 0;
      height: 7rem;
      width: 100%;
      background: rgba(3, 3, 3, 0.8);
      display: grid;
      place-items: center;
  
      .logo-block {
        color: white;
        font-family: reckless-4;
        font-size: 2rem;
      }
    }
    
    .home-main{
        width: 100%;
        height: 100%;
        display: flex;

        .home-static{
            position: fixed;
            flex: 1;
            height: 100%;
            width: 100%;

            
            video{
                margin-top: -10%;
                width: 100%;
                padding: 0 35% 0% 20%;
            }
        }
        .home-absolute{
            margin-top: 7rem;
            width: 100%;
            display: flex;

            .empty-scroll{
                flex: 1;
                width: 100%;
            }

            .static-container{
                position: fixed;
                flex: 1;
                width: 100%;
                height: calc(100vh - 7rem);


                .home-welcome{
                    position: absolute;
                    top: 0%; left: 10%;
                    z-index: 10;
                    font-size: 6rem;
                    font-family: reckless-1;
                    color: $white;
                    border: 0px solid green;

                    span{
                        margin-top: -5%;
                        display: block;
                        color: $white;
                        font-family: reckless-middle;
                    }
                }

                .stats-container{
                    position: absolute;
                    bottom: 10%; left: 10%;
                    z-index: 10;
                    width: 35%;
                    color: white;

                    display: flex;
                    border: 1px solid green;
                    
                    .stats-left{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 2.5rem;

                        div{
                            height: 100%
                        }
                        .stats-total{
                            .stat-value{
                                color: $white;
                                margin: 0;
                                font-family: reckless-middle;
                                font-size: 4rem;
                            }
                        }
                        .stats-change{
                            .stat-value{
                                color: $white;
                                font-family: reckless-middle;
                                font-size: 1.5rem;
                            }
                        }
                    }
                    .stats-right{
                        width: 100%;
                        border: 1px solid red;

                        .sub-score-container{
                            height: 100%;
                            display: flex;
                            flex-direction: column;

                            .title-values{
                                height: 100%;
                                display: flex;
                                gap: 1rem;

                                div{
                                    border: 1px solid peru;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
    
                                    .sub-score-value{
                                        color: $white;
                                        font-family: reckless-middle;
                                    }
    
    
                                    .sub-score-title{
                                        font-family: reckless-2;
                                    }
                                }
                            }
                        }
                    }
                    .stat-title{
                        border: 1px solid purple;
                        margin-bottom: 0.75rem;
                    }
                }
            }

            .scrollable-container{
                box-sizing: border-box;
                flex: 1;
                height: 100%;
                width: 100%;
                padding: 15% 0;
                
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
   

                .card-container{
                    width: 100%;
                    padding: 0 5rem;

                    .home-card{
                        position: relative;
                        z-index: 10;
                        border: 1px solid $white-20;
                        height: 15rem;
                        width: 100%;
                        border-radius: 1.5rem;
                        padding: 3rem 1.5rem;
                        margin-bottom: 3rem;
                        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
                        backdrop-filter: blur(10px);
            
                        display: flex;
                        justify-content: center;
                    }

                    .home-card.two{
                        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.025);
                        backdrop-filter: blur(20px);
                    }

                    .home-card.three{
                        background: linear-gradient(114.83deg, rgba(175, 175, 175, 0.08) 5.95%, rgba(174, 174, 174, 0.04) 93.77%);
                        border: 1px solid rgba(255, 255, 255, 0.2);
                        box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.05);
                        backdrop-filter: blur(10px);
                    }

                    .lset{
                        height: 5rem;
                        width: 100%;
                        display: flex;
                        gap: 2rem;

                        div{
                            height: 100%;
                            width: 100%;
                            flex: 1;
                            border-radius: 1rem;
                            border: 1px solid $white-20;
                            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
                            backdrop-filter: blur(10px);
                        }

                        .logout-btn{
                            display: block;
                        }

                        .settings-btn{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
  