

.introPage-desktop{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    color: white;
    background: $black;
    overflow: hidden;


    .intro-bg-desktop{
        width: 100vh;
        overflow: hidden;
        .background-image{
            height: 100%;
            width: 100%;
            object-position: center;
        }
    }

    .intro-bg-side{
        flex-grow: 1;
        width: auto;
        height: 100%;
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
        margin-left: -10%;
        background: $black;
    }
}