

.desktop-sidebar{
    position: relative;
    width: 100%;
    height: 100vh;
    border: 0px solid peru;
    padding: 1rem 1.5rem;


    .inner-sidebar{
        border-right: 1px solid $white-20;
        width: 100%;
        height: 100%;


        .sidebar-heading{
            height: auto;
            padding: 1.5rem;
            border-bottom: 1px solid $white-20;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.75rem;

            .icon .random-icon svg{
                border: 0apx solid peru;
                width: 2rem;
                height: 2rem;
            }
            .sidebar-title{
                border: 0px solid green;
                font-size: 1.75rem;
                font-family: reckless-middle;
                padding: 0; margin: 0;
                padding-bottom: 0.1rem;
                color: $white-80;
            }
        }

        .menu{
            width: 100%;
            height: 100%;

            .menu-top{
                font-family: satoshi;
                font-weight: 300;
                font-size: 1rem;
                color: $white-50;
                padding: 0.75rem 1rem;
                border-bottom: 1px solid $white-20;
            }

            .menu-item{
                padding: 1rem;
                cursor: pointer;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &:hover{
                    background: #131313;
                }

                .icon .random-icon svg{
                    height: 1rem;
                    border: 0px solid peru;
                }
                .item-name{
                    border: 0px solid green;
                    font-family: satoshi;
                    font-weight: 300;
                    font-size: 1rem;
                    color: $white-50;
                }
            }
        }


        .sidebar-btn{
            position: absolute;
            right: -0.75rem;
            top: 20%;
            height: 1.5rem;
            width: 1.5rem;
            background: $white;
            border-radius: 1.5rem;
            cursor: pointer;
    
            display: grid;
            place-items: center;
        }
    }
}