


.about-page{
    width: 100%;
    height: 100vw;

    padding: 1.5rem;


    .header{
        border-bottom: 0.5px solid $white-20;
    }

    .page-top{
        padding-top: 11rem;

        h2{
            color: $white-80;
            font-size: 2rem;
            font-family: reckless-middle;
            margin-bottom: 1rem;
        }
        p{
            color: $white-50;
        }
    }

    .info-blob{
        padding: 8rem 0;

        .blob-item{
            // border: 1px solid peru;
            margin-bottom: 8rem;
            h3{
                margin-bottom: 2rem;
                font-family: satoshi;
                font-weight: 400;
                font-size: 1.25rem;
                text-transform: capitalize;
                color: $white;
            }
            p{
                color: $white-50;
                line-height: 2rem;
            }
        }
    }

    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        .card{
            width: 100%;
            height: 100%;
            flex: 1;

            .icon-container{
                border: 1px solid $white-20;
                height: 2rem;
                width: 2rem;
            }
        }
    }
}