

.goalsettings{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    border: 1px solid salmon;


    h1{
        color: white;
    }


    button{
        height: 3rem;
        width: 8rem;
        background: salmon;
    }
}