

.goalsettings{
    width: 100vw;
    height: 100vh;
    border: 1px solid salmon;

    .topnav{
        border: 1px solid peru;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;

        .nav-item{
            width: 6rem;
            height: auto;
            padding: 0.5rem 0;
            background: #343434;
            display: grid;
            place-items: center;
        }
    }
}