

.goalsettings{
    position: relative;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    border: 0px solid salmon;
    background: #121212;

    .top-top{
        position: fixed;
        z-index: 101;
        background: black;
        width: 100vw;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header{
        position: relative;
    }
    .topnav{
        position: relative;
        top: 0;
        left: 0;
        overflow-x: auto;
        width: 100%;
        padding: 1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        
        border: 0px solid peru;
        color: white;

        .nav-item{
            flex: 1;
            width: 100%;
            height: auto;
            padding: 0.5rem 0.75rem;
            background: #343434;
            border-radius: 0.5rem;
            display: grid;
            place-items: center;

            font-family: satoshi;
            font-size: 0.95rem;
            font-weight: 400;
        }

        .nav-item.active{
            background: $white-80;
            color: $black;
            
        }
    }
    .scroll-progress{
        height: 2px;
        width: 100%;
        background: $white-20;
    }
    .invisible-top{
        width: 100%;
        height: 25vh;
    }
    .section{
        min-height: 75vh;
        height: 100%;
        width: 100vw;
        padding: 14rem 1.5rem 0rem 1.5rem;
        border: 0px solid pink;

        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;


        h2{
            margin-bottom: 3rem;
            font-size: 1.5rem;
            font-family: reckless-middle;
            text-transform: capitalize;
            color: $white-80;

        }

        .section-container{
            width: 100%;
            height: auto;
            padding: 1rem 0;
            border: 0px solid $white-20;

            .accordion-header.active{
                border: 1px solid $white-80;
            }
            .accordion-header{
                max-height: 5rem;
                padding: 1.5rem;
                border-radius: 0.5rem;
                border: 1px solid $white-20;
                background: $black;

                display: flex;
                justify-content: flex-start;
                align-items: center;

                .checkbox{
                    height: 1.5rem;
                    width: 1.5rem;
                    border: 1px solid $white-50;
                    border-radius: 1rem;
                    margin-right: 1.5rem;
                }

                h3.title{
                    font-family: satoshi;
                    font-size: 1rem;
                    color: $white;
                    margin-right: 1rem;
                }
                .miniscores-container{
                    margin-right: 0.5rem;
                    border: 0px solid pink;
                    width: 100%;
                    overflow: hidden;
                    display: flex;

                    .mini-score{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .mini-title{
                            white-space: nowrap;
                            overflow: hidden;
                            font-family: satoshi;
                            font-weight: 300;
                            color: $white-50;
                        }
                        .mini-value{
                            font-size: 0.65rem;
                            font-family: satoshi;
                            font-weight: 300;
                            color: $white-50;
                            padding: 0.25rem;
                            white-space: nowrap;
                            overflow: hidden;
                            border: 0.5px solid $white-50;
                            border-radius: 2px;
                        }
                        .dot{
                            background: $white-80;
                            height: 5px;
                            width: 5px;
                            border-radius: 4px;
                            margin: 0 0.75rem;
                        }
                    }
                }

                .icon-container{
                    margin-left: auto;
                    justify-self: flex-end;

                    svg{
                        width: auto;
                        height: 1rem;
                    }
                }
            }

            .accordion-content{
                width: 100%;
                background: #131313;
                border-left: 1px solid $white-20;
                border-right: 1px solid $white-20;
                border-bottom: 1px solid $white-20;
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;

                .accordion-inner-content{
                    position: relative;
                    height: 700px;
                    padding: 2rem 1.5rem;

                    .bin-icon{
                        position: absolute;
                        top: 2rem;
                        right: 1.5rem;
                    }
                    .bin-icon .random-icon svg{
                        height: 1rem;
                        width: 1rem;
                    }

                    h3{
                        font-family: reckless-middle;
                        margin-bottom: 1.5rem;
                    }
                    p.content-text{
                        font-size: 0.75rem;
                        margin-bottom: 3rem;
                    }

                    .value-box{
                        position: relative;
                        border: 1px solid $white-20;
                        border-radius: 0.5rem;
                        height: 250px;
                        overflow: hidden;

                        .topbar{
                            margin-bottom: 0.5rem;
                            display: flex;
                            background: black;
                            border-bottom: 1px solid $white-20;

                            .topbar-title{
                                padding: 1rem 1.25rem;
                                flex: 1;
                            }
                        }
                        .activity, .total-activity{
                            position: relative;
                            width: 100%;
                            display: flex;

                            p{
                                padding: 0.5rem 1.25rem;
                                width: 100%;
                                flex: 1;
                            }
                            .bin{
                                position: absolute;
                                right: 1rem;
                                opacity: 0;
                            }
                        }
                        .total-activity{
                            position: absolute;
                            bottom: 1rem;
                        }
                        .activity:hover{
                            background: black;
                            .bin{
                                opacity: 1;
                            }
                        }
                    }
                    .settings-form{
                        position: absolute;
                        bottom: 1.5rem;
                        right: 1.5rem; left: 1.5rem;

                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: auto auto;
                        gap: 1.5rem;

                        label{
                            font-family: satoshi;
                            font-size: 0.75rem;
                            color: $white;
                            
                        }
                        input{
                            margin-top: 0.75rem;
                            width: 100%;
                            height: 3rem;
                            background: black;
                            color: $white;
                            border-radius: 0.25rem;
                            border: none;
                            box-shadow: none;
                            border: 0.5px solid $white-20;
                            text-indent: 1rem;

                            &::placeholder{
                                font-family: satoshi;
                                font-size: 0.75rem;
                                color: $white-20;
                            }
                            &:focus{
                                outline: none;
                                border: 1px solid $white-80;
                            }
                        }



                        .add-btn{
                            grid-column: 1 / -1;
                            height: 3rem;
                            border-radius: 0.25rem;
                            border: 1px solid $white-50;
                            display: grid;
                            place-items: center;
                        }
                        .add-btn:hover, .add-btn.active{
    
                            background: $white-80;
                            color: $dark;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .accordion-container{
            width: 100%;
            height: auto;
            padding: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // gap: 1.5rem;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;

                h4{
                    font-size: 0.75rem;
                }
            }
            .add-accordion{
                height: 3.5rem;
                width: 3.5rem;
                border-radius: 3rem;
                background: black;

                display: grid;
                place-items: center;
                font-size: 2rem;
            }
        }
    }

    .save-container{
        // position: absolute;
        // bottom: 3rem;
        // right: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 1.5rem;
        width: auto;
        height: auto;
        // border: 1px solid green;

        .info-message{
            display: flex;
            gap: 1rem;
            margin-bottom: 1.5rem;

            .text{
                color: $white-80;
                font-family: satoshi;
            }

            .icon{
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 1rem;
                background: $white;
                color: $dark;
                display: grid;
                place-items: center;
                font-size: 1.5rem;
            }
        }

        .save-btn{
            margin-left: auto;
            height: 3rem;
            width: 8rem;
            display: grid;
            place-items: center;
            border: 1px solid $white-20;
            border-radius: 0.5rem;
            font-family: satoshi;
            font-weight: 500;
            font-size: 1rem;
            text-transform: capitalize;
            color: $white-20;
        }
        .save-btn.active{
            background: $white;
            color: $dark;
        }
    }

}




